.footer {
  background-color: var(--gray);
  border-top: 8px solid var(--yellow);
  padding: 20px;
}

.footer-list,
.footer-list a {
  text-align: center;
  color: white;
  font-size: 14px;
}

.footer-list h5 {
  font-size: 16px;
  margin: 0;
}

.footer-list ul {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin: 5px 0;
}

.footer-list i {
  font-size: 16px;
}

.footer-list a:hover {
  color: var(--yellow);
}
